
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap" rel="stylesheet">
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 15px;
	font-family: 'poppins' ,sans-serif;
	padding-left: 0 30px;
}
header{
	text-align: center;
	padding:0px 0px 20px 0px;
}
header h1{
	font-size: 1.5rem;
	font-weight: 200;
	color: hsl(234, 12%, 34%);
}
header h2{
	font-size: 1.5rem;
	font-weight: 700;
	color: hsl(234, 12%, 34%);
	margin-bottom: 1.5rem;
}
header p{
	font-weight: 400;
	font-size: 1rem;
	color: hsl(229, 6%, 66%);
}
.cards{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 40px; 
}
.card{
	box-shadow: 2px 8px 14px 0px hsl(229, 6%, 66%);
	border-radius: 8px; 
	padding:15px;
	margin: 1rem;
	max-width: 300px;
}
.card h2{
	font-weight: 700;
	color: hsl(234, 12%, 34%);
}
.card p{
	font-weight: 400;
	color:  hsl(229, 6%, 66%);
}
.card.aqua{
	border-top: 5px solid hsl(180, 62%, 55%);
}
.card.red{
	border-top: 5px solid hsl(0, 78%, 62%);
}
.card.orange{
	border-top: 5px solid hsl(34, 97%, 64%);
}
.card.blue{
	border-top: 5px solid hsl(212, 86%, 64%);
}
img{
	display: block;
	margin-top: 25px;
	margin-left: auto;

}
@media only screen and (min-width: 1000px){
	.cards {
	flex-direction: row;
}

}